<div class="container">
    <div class="row pt-3">
      <div class="col-6">
        <h4>Testing Portal</h4>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-outline-success" (click)="openModel()" data-bs-toggle="modal"
          data-bs-target="#myModal">Crear usuarios</button>
      </div>
    </div>
    @if(userList.length !== 0){
    <div class="row">
      @for (item of userList; track $index){
  
      <div class="col-3"> 
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                {{item.nombre}}
              </div>
              <div class="col-6 text-end">
                {{item.contrasenia}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>{{item.rol}}</p>
            <p>{{item.fecha_alta}}</p>
            <p>{{item.correo}}</p>
          </div>
          <div class="card-footer text-center">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-sm btn-primary" (click)="editUser(item)">Editar</button>
              </div>
              <div class="col-6">
                <button class="btn btn-sm btn-danger" (click)="deleteUser(item)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
  
    </div>
  
    }@else {
      <div class="row">
        <div class="col-12 p-4 text-center">
          <p>No Record Found. Create New Record.</p>
        </div>
      </div>
    }
  </div>
  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registro de usuarios</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="this.emptyFields" class="row">
            <div class="col-6">
              <label class="red-alert">Los campos con * son obligatorios</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="nombre">Nombre *</label>
              <input type="text" [(ngModel)]="userObj.nombre" class="form-control-sm" placeholder="Nombre" name="nombre"
                id="nombre">
            </div>
            <div class="col-6">
              <label for="correo">Correo *</label>
              <input type="email" [(ngModel)]="userObj.correo" class="form-control-sm" placeholder="Correo" name="correo"
                id="correo">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="contrasenia">Contraseña *</label>
              <input type="password" [(ngModel)]="userObj.contrasenia" class="form-control-sm" placeholder="Contraseña"
                name="contrasenia" id="contrasenia" maxlength="16">
            </div>
            <div class="col-6">
              <label for="confirma-contrasenia">Confirmar contraseña *</label>
              <input type="password" [(ngModel)]="comprobarPass" class="form-control-sm" placeholder="Confirmar contraseña"
                name="confirma-contrasenia" id="confirma-contrasenia" maxlength="16">
            </div>
          </div>
          <div *ngIf="!this.matchedPass" class="row">
            <div class="col-6">
              <label class="red-alert">Las contraseñas no coinciden</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="rol">Rol a seleccionar *</label>
              <select name="rol" id="rol" class="form-select" [(ngModel)]="userObj.rol">
                <option selected>Selecciona un rol</option>
                <option value="Administrador">Administrador</option>
                <option value="Recepcionista">Recepcionista</option>
              </select>
            </div>
            <div class="col-6">
              <label for="fecha">Fecha alta *</label>
              <input type="date" class="form-control" name="fecha" id="fecha" [(ngModel)]="userObj.fecha_alta">
  
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="imagen">Elige una Imagen *</label>
              <input type="file" class="form-control-sm" name="imagen" id="imagen" (change)="onFileChange($event)" accept="image/png, image/jpeg" >
            </div>
          </div>
          <div *ngIf="this.imagePath != null" class="row">
            <div class="col-6">
              <img [src]="this.imagePath" width="150" height="150"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
          @if(userObj.id ==0){
            <button type="button" class="btn btn-primary" (click)="saveUser()">Guardar Usuario</button>
          }@else {
            <button type="button" class="btn btn-success" (click)="updateUser()">Actualizar Usuario</button>
          }
        </div>
  
      </div>
    </div>
  </div>