<app-navmenu></app-navmenu>
<router-outlet></router-outlet>
<div class="container">
    <div class="row pt-3">
      <div class="col-6">
        <h4>Testing Portal</h4>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-outline-success" (click)="openModel()" data-bs-toggle="modal"
          data-bs-target="#myModal">Crear usuarios</button>
      </div>
    </div>
    @if(userList.length !== 0){
    <div class="row">
      @for (item of userList; track $index){
  
      <div class="col-3"> 
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                {{item.name}}
              </div>
              <div class="col-6 text-end">
                {{item.password}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>{{item.role}}</p>
            <p>{{item.register_date}}</p>
            <p>{{item.email}}</p>
          </div>
          <div class="card-footer text-center">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-sm btn-primary" (click)="editUser(item)">Editar</button>
              </div>
              <div class="col-6">
                <button class="btn btn-sm btn-danger" (click)="deleteUser(item)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
  
    </div>
  
    }@else {
      <div class="row">
        <div class="col-12 p-4 text-center">
          <p>No se encontraron registros. Crea un nuevo registro.</p>
        </div>
      </div>
    }
  </div>
  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registro de usuarios</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="this.emptyFields" class="row">
            <div class="col-6">
              <label class="red-alert">Los campos con * son obligatorios</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="name">Nombre *</label>
              <input type="text" [(ngModel)]="userObj.name" class="form-control-sm" placeholder="Name" name="name"
                id="name">
            </div>
            <div class="col-6">
              <label for="email">Email *</label>
              <input type="email" [(ngModel)]="userObj.email" class="form-control-sm" placeholder="Email" name="email"
                id="email">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="password">Contraseña *</label>
              <input type="password" [(ngModel)]="userObj.password" class="form-control-sm" placeholder="Password"
                name="password" id="password" maxlength="16">
            </div>
            <div class="col-6">
              <label for="confirm-password">Confirma la contraseña *</label>
              <input type="password" [(ngModel)]="comprobarPass" class="form-control-sm" placeholder="Confirm password"
                name="confirm-password" id="confirm-password" maxlength="16">
            </div>
          </div>
          <div *ngIf="!this.matchedPass" class="row">
            <div class="col-6">
              <label class="red-alert">Contraseñas no coinciden</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="role">Selecciona un Rol *</label>
              <select name="role" id="role" class="form-select" [(ngModel)]="userObj.role">
                <option selected>Select a role</option>
                <option value="Administrador">Administrador</option>
                <option value="Recepcionista">Recepcionista</option>
              </select>
            </div>
            <div class="col-6">
              <label for="register_date">Fecha de registro *</label>
              <input type="date" class="form-control" name="register_date" id="register_date" [(ngModel)]="userObj.register_date">
  
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="image">Elige una Imagen *</label>
              <input type="file" class="form-control-sm" name="image" id="image" (change)="onFileChange($event)" accept="image/png, image/jpeg" >
            </div>
          </div>
          <div *ngIf="this.imagePath != null" class="row">
            <div class="col-6">
              <img [src]="this.imagePath" width="150" height="150"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Cerrar</button>
          @if(userObj.id ==0){
            <button type="button" class="btn btn-primary" (click)="saveUser()">Guardar Usuario</button>
          }@else {
            <button type="button" class="btn btn-success" (click)="updateUser()">Actualizar Usuario</button>
          }
        </div>
  
      </div>
    </div>
  </div>