<div class="container">
  <div class="row pt-3">
      <div class="col-6">
        <h4>Testing Portal</h4>
      </div>
      <div class="col-6 text-end">
        <button  type="button" class="btn btn-outline-success" (click)="openModel()" data-bs-toggle="modal" data-bs-target="#myModal">Add New User</button>
      </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              Nombre de usuario
            </div>
            <div class="col-6 text-end">
              Contraseña
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>Rol</p>
          <p>Fecha Alta</p>
          <p>Imagen Perfil</p>
        </div>
        <div class="card-footer text-center">
          <p>Correo</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear nuevo usuario</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Modal body..
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>